<main class="container">
  <section class="columns">
    <div class="column col-10 col-mx-auto">
      <h1>Promise Show</h1>
    </div>
  </section>
  <section class="columns">
    <div class="column col-10 col-mx-auto">
      <ul>
        <li>Promisee: <%= @promise.promisee %></li>
        <li>Promise: <%= @promise.body %></li>
        <li>Start Date: <%= @promise.promise_start_date %></li>
        <li>End Date: <%= @promise.promise_end_date %></li>
        <li>Status: <%= @promise.status %></li>
      </ul>
    </div>
  </section>
</main>
